body {
  font-family: Arial, sans-serif;
  background-image: radial-gradient(
    circle,
    rgb(255, 0, 111) 0%,
    rgb(101, 157, 221) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.tab-container {
  width: 100%;
  max-width: 400px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.tabs {
  display: flex;
  cursor: pointer;
  background: rgb(247, 246, 246);
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  transition: background 0.3s;
}

.tab.active {
  background: white;
  font-weight: bold;
}

.form-container {
  padding: 20px;
  display: none;
}

.form-container.active {
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: rgb(98, 98, 167);
}

.message {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9em;
}

.success {
  color: green;
}

.error {
  color: red;
}

.question-block {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
}

label {
  display: block;
  margin: 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 14px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 500px) {
  .tab-container {
    width: 100%;
  }

  table,
  th,
  td {
    font-size: 12px;
    padding: 8px;
  }

  button {
    font-size: 14px;
  }
}
